body {
    background-image: url(Larry-OBrein-trophy-A2DRadio-NBA-Preview.jpg);
    background-size: cover;
}

h1{
    padding: 20px;
    font-family: 'Great Vibes', cursive;
    font-size: 400%;
    color: white;
    background: black;
    backface-visibility: 80%;
    opacity: 0.8;
    
}

.quote{
    margin: 50px;
    color: white;
    
}

p {
    text-align: center;
    font-weight: 500;
    font-size: 170%;
}

footer {
    text-align: center;
    font-size: 140%
}

.generate {
    text-align: center;
}